@using GoFish.Library
@using GoFish.Library.Model

<script type="text/javascript">
    var rootDir = "@Url.Content("~/")";
</script>

@{
    ViewBag.Title = "GoFish";
}
<br />

<div id="apiKeyPanel" class="col-md-5 search-control" data-apikey="@ViewBag.ApiKey">
    <span id="apiKeyInput" style="display:none" >
        <label class="control-label" for="apiKey">Flowdock API Token</label>
        <img class="qm" style="cursor: pointer;" src="questionMark.png" width="20" height="20" alt="Question" />
        <input id="apiKey" class="searchOnEnter" name="apiKey" type="text" style="width: 200px" />
        <a id="getToken" target="_blank" href="https://www.flowdock.com/account/tokens">Where do I get this?</a>
        <span class="qText" style="width: 200px; display:none; font-size: 8pt;">
            <br />
            Your API key is retained in a cookie on your local computer, and is not stored anywhere on the server. 
            Maybe don't use this on public computers? Or at least clear your cookies afterwards.
            <br />
        </span>
    </span>
    <span id="apiKeyDisplay">
        <label class="control-label" for="apiKey">Flowdock API Token</label>
        <img class="qm" style="cursor: pointer;" src="questionMark.png" width="20" height="20" alt="Question" />
        <label id="apiKeyLabel" style="width: 200px"></label>
        <a id="changeToken" href="#">Change</a>
        <span class="qText" style="width: 200px; display:none; font-size: 8pt;">
            <br />
            Your API key is retained in a cookie on your local computer, and is not stored anywhere on the server.
            Maybe don't use this on public computers? Or at least clear your cookies afterwards.
            <br />
        </span>
    </span>
</div>
<div class="col-md-5 search-control">
    <label class="control-label" style="width: 200px" for="searchText">Search Text</label>
    <input id="searchText" class="searchOnEnter" name="searchText" type="text" style="width: 200px" />
</div>
<div class="row">
    <div class="col-md-2 search-control searchButton">
        <button id="searchButton" type="button" class="btn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Searching">Search</button>
    </div>
</div>

<div id="resultsPanel" style="display:none">
    <hr />
    <table id="resultsTable" class="tablesorter" style="table-layout: fixed; width: 100%;">
        <thead>
            <tr class="x-grid-header-ct">
                <th style="width: 150px"><div class="headerText"><div class="headerTextInner">Posted</div></div></th>
                <th style="width: 170px"><div class="headerText"><div class="headerTextInner">Flow</div></div></th>
                <th style="width: 170px"><div class="headerText"><div class="headerTextInner">User</div></div></th>
                <th><div class="headerText"><div class="headerTextInner">Comment</div></div></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>